@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(-140deg,#2980b9, #8e44ad);
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10%;
  }

.form-data {
    display: flex;
    height:100%;
    width: 100%;
    max-width: 700px;
    width: 100%;
    padding: 20px;
    background: #fff;
    margin-top: 10px;
    border-radius: 5px;
}

.form-data form {
    width: 100%;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    padding-bottom: 5px;
    width: 100%;
}

.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: linear-gradient(135deg,#2980b9, #8e44ad);
}

.container form .user-details{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
}

.user-details .input-box .details{
   font-weight: 500;
   margin-bottom: 5px;
   display: block;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,

.user-details .input-box input:focus{
    border-color: #9b59b6;
}

.user-details .input-box select{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box select:focus,

.user-details .input-box select:focus{
    border-color: #9b59b6;
}

form .button{
    height: 45px;
    width: 100%;
    margin: 45px 0;
}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    background: linear-gradient(135deg,#2980b9, #8e44ad);
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

form .button input:hover,

form .button input:hover{
    background: linear-gradient(-135deg,#2980b9, #8e44ad);
}

@media (max-width: 584px) {
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0px;
    }
}

/* CSS for Navbar */

.logo{
    height: 100px;
    padding-right: 100px;
    margin: 5px;
}

.custom-navbar{
    margin-right: 5%;
}

.volunteer-form{
    width: 50% !important;
}

/*
.nav-link{
    color: red !important;
}
*/